body {
    font-family: 'Open Sans', sans-serif;
    background-color: #d5dfe5;
}

img {
    border-radius: 100%;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: #2aac7d;
}